aiofiles==23.2.1
aiogram==3.7.0
aiohttp==3.9.5
aiosignal==1.3.1
aiosqlite==0.20.0
alembic==1.13.1
annotated-types==0.7.0
attrs==23.2.0
Babel==2.15.0
certifi==2024.6.2
cffi==1.16.0
cryptography==42.0.8
frozenlist==1.4.1
greenlet==3.0.3
idna==3.7
magic-filter==1.0.12
Mako==1.3.5
MarkupSafe==2.1.5
multidict==6.0.5
pycparser==2.22
pydantic==2.7.4
pydantic-settings==2.3.2
pydantic_core==2.18.4
python-dotenv==1.0.1
redis==5.0.5
SQLAlchemy==2.0.30
types-cffi==1.16.0.20240331
types-pyOpenSSL==24.1.0.20240425
types-redis==4.6.0.20240425
types-setuptools==70.0.0.20240524
typing_extensions==4.12.2
yarl==1.9.4
